<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Requests</title>
</head>
<body>
    <h1>Admin Requests</h1>
    <button onclick="window.location.href = '/'">Back</button>
    <table>
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Request Status</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <td><input type="checkbox" name="user" value="{{ .ID }}"></td>
                <td>{{ .Username }}</td>
                <td>{{ .Phone }}</td>
                <td>{{ .Email }}</td>
                <td>{{ .Address }}</td>
                <td>{{ .AdminReq }}</td>
            </tr>
            {{ end }}
    </table>
</body>
</html>