<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>

<body>
    <h1>Admin Dashboard</h1>
    <button onclick="window.location.href = '/users'">Manage Users</button>
    <button onclick="window.location.href = '/books'">Manage Books</button>
    <button onclick="window.location.href = '/borrows'">Manage Book Requests</button>
    <button id="logout-btn">Logout</button>

    <script>
        document.querySelector('#logout-btn').addEventListener('click', () => {
            fetch('/logout', {
                method: 'POST',
            }).then(res => {
                if (res.ok) {
                    window.location.href = '/';
                }
            });
        });
    </script>
</body>

</html>