<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/manage_books.css">
 </head>

<body>
    <h1>Book Management</h1>
    <button class="btn btn-secondary" onclick="window.location.href = '/'">Back</button>
    {{ if eq .User.Role "admin" }}
    <button class="btn btn-primary" onclick="showModal('add-book-modal')">Add Book</button>
    <button id="update-book-btn" class="btn btn-warning" onclick="showModal('update-book-modal')" disabled>Update Selected Book</button>
    <button id="delete-books-btn" class="btn btn-danger" onclick="deleteBooks()" disabled>Delete Selected Books</button>

    <script>
        const deleteBooks = () => {
            const selectedBooks = document.querySelectorAll('input[name="book"]:checked');

            const formData = new URLSearchParams();
            formData.append('id', JSON.stringify(Array.from(selectedBooks).map(checkbox => checkbox.value)));

            fetch('/remove_books', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                method: 'POST',
                body: formData
            }).then(
                async res => {
                    if (res.ok) {
                        alert(await res.text());
                        window.location.reload();
                    } else {
                        alert(await res.text());
                    }
                }
            ).catch(err => console.error(err));
        }
    </script>

    <!-- Add Book Modal -->
    <div id="add-book-modal" class="modal">
        <div class="modal-content">
            <h2>Add a book</h2>
            <form id="add-book-form">
                <input id="book_title" type="text" name="title" class="form-control" placeholder="Title" required>
                <input id="book_author" type="text" name="author" class="form-control" placeholder="Author" required>
                <input id="book_genre" type="text" name="genre" class="form-control" placeholder="Genre" required>
                <input id="book_language" type="text" name="language" class="form-control" placeholder="Language" required>
                <textarea id="book_summary" name="summary" class="form-control" rows="4" placeholder="Summary" required></textarea>
                <input id="book_count" type="number" name="count" class="form-control" placeholder="Count" required>
                <button type="button" class="btn btn-primary" onclick="submitBook('add')">Submit</button>
                <button type="button" class="btn btn-secondary" onclick="closeModal('add-book-modal')">Cancel</button>
            </form>
        </div>
    </div>

    <!-- Update Book Modal -->
    <div id="update-book-modal" class="modal">
        <div class="modal-content">
            <h2>Update Selected Book</h2>
            <form id="update-book-form">
                <input id="book_update_title" type="text" name="title" class="form-control" placeholder="Title" required>
                <input id="book_update_author" type="text" name="author" class="form-control" placeholder="Author" required>
                <input id="book_update_genre" type="text" name="genre" class="form-control" placeholder="Genre" required>
                <input id="book_update_language" type="text" name="language" class="form-control" placeholder="Language" required>
                <textarea id="book_update_summary" name="summary" class="form-control" rows="4" placeholder="Summary" required></textarea>
                <input id="book_update_count" type="number" name="count" class="form-control" placeholder="Count" required>
                <button type="button" class="btn btn-primary" onclick="submitBook('update')">Submit</button>
                <button type="button" class="btn btn-secondary" onclick="closeModal('update-book-modal')">Cancel</button>
            </form>
        </div>
    </div>
    {{ end }}

    {{ if eq .User.Role "user" }}
    <button id="req-btn" class="btn btn-primary" onclick="requestSelectedBooks()" disabled>Request Selected Books</button>
    <script>
        const requestSelectedBooks = () => {
            const selectedBooks = document.querySelectorAll('input[name="book"]:checked');

            const formData = new URLSearchParams();
            formData.append('id', JSON.stringify(Array.from(selectedBooks).map(checkbox => checkbox.value)));

            fetch('/borrow_books', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                method: 'POST',
                body: formData
            }).then(
                async res => alert(await res.text())
            ).catch(err => console.error(err));
        }
    </script>
    {{ end }}

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Select</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Language</th>
                <th>Summary</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Books }}
            <tr>
                <td><input type="checkbox" name="book" value="{{ .ID }}"></td>
                <td>{{ .Title }}</td>
                <td>{{ .Author }}</td>
                <td>{{ .Genre }}</td>
                <td>{{ .Language }}</td>
                <td>{{ .Summary }}</td>
                <td>{{ .Count }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <script>
        function showModal(modalId) {
            document.getElementById(modalId).style.display = 'flex';
            setTimeout(() => {
                document.getElementById(modalId).classList.add('show');
            }, 10);
        }

        function closeModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.classList.remove('show');
            setTimeout(() => {
                modal.style.display = 'none';
            }, 500);
        }

        function submitBook(action) {
            const formId = action === 'add' ? 'add-book-form' : 'update-book-form';
            const formData = new URLSearchParams(new FormData(document.getElementById(formId)));
            const endpoint = action === 'add' ? '/add_book' : '/update_book';

            if (action === 'update') {
                const selectedBook = document.querySelector('input[name="book"]:checked').value;
                formData.append('id', selectedBook);
            }

            fetch(endpoint, {
                method: 'POST',
                body: formData
            }).then(async res => {
                alert(await res.text());
                if (res.ok) {
                    window.location.reload();
                }
            })
        }
        
        const checkboxes = document.querySelectorAll('input[name="book"]');
        const requestButton = document.getElementById('req-btn');
        const updateButton = document.getElementById('update-book-btn');
        const deleteButton = document.getElementById('delete-books-btn');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                const selectedCount = document.querySelectorAll('input[name="book"]:checked').length;
                if (requestButton) requestButton.disabled = selectedCount === 0;
                if (deleteButton) deleteButton.disabled = selectedCount === 0;
                if (updateButton) updateButton.disabled = selectedCount !== 1;
            });
        });
    </script>
</body>
</html>
